<!DOCTYPE html>
<html ng-app='gitignore'>
	<head>
		<title>Git Ignore Generator</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Cutive+Mono|Revalia|Droid+Sans+Mono|Gochi+Hand|Fredoka+One|Metrophobic|Trocchi|Miltonian+Tattoo|Allerta|Aclonica' rel='stylesheet' type='text/css'>
		<script src='/bower_components/jQuery/dist/jquery.min.js'></script>
		<script src='/bower_components/underscore/underscore.js'></script>
		<script src='/bower_components/ng-file-upload/angular-file-upload-shim.min.js'></script>
		<script src='/bower_components/angular/angular.min.js'></script>
		<script src='/bower_components/ng-file-upload/angular-file-upload.min.js'></script> 
		<script src='/scripts/gitignore.js'></script>
		<script>
			$(document).ready(function(){
				$('.fileAnchor').on('click','.expand',function(e){
					$(this).toggleClass('expandRotate')
				});
				$('body').on('click', '.fileAnchor', function(e){
					e.preventDefault();
					$(this).find('img').toggleClass('expandRotate');
					$(this).next().toggleClass('ng-hide');
				})
			})
		</script>
	</head>
	<body ng-view ng-controller='mainController'>
<!-- 		<a href="https://github.com/JoshSGman/gitIgnoreCreator"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a> -->
		<h1>THE GIT IGNORE GENERATOR</h1>
		<br>
		<div ng-controller="uploadController" id='fileUploadDiv'>

			<div id='fileUploader'>
		  	<input type="file" id='fileUpload' ng-file-select="onFileSelect($files)" multiple directory webkitdirectory mozdirectory>
			</div>

			<div id='searchDirDiv'> 
				<input id='searchDir' type='text' ng-model='search.$' placeholder='search for a file or directory'>
			</div>

		  <ul class='filePaths'>
		  	<div id='showAllDiv'><button id='showAll'>Show All</button></div>
		  	<li class='filePath' ng-repeat='value in root | filter:search:strict ' ng-include="'partials/tree.html'"></li>
			</ul>

			<div ng-include="'partials/gitFile.html'"></div>
		  <div id='gap'></div>
		</div>
		<footer></footer>
	</body>
</html>