/* git ignore css goes here */

/* google fonts included: ;
font-family: 'Cutive Mono', ;
font-family: 'Revalia', cursive;
font-family: 'Droid Sans Mono', ;
font-family: 'Gochi Hand', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Metrophobic', sans-serif;
font-family: 'Trocchi', serif;
font-family: 'Miltonian Tattoo', cursive;
font-family: 'Allerta', sans-serif;
font-family: 'Aclonica', sans-serif;

// extra colors used :

rgba(71, 161, 212, 0.9) - light blue
rgba(251, 170, 40, 1) - orangish
*/



/* Global Reset */
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: rgba(251, 170, 40, .8);
	font-family: 'Allerta', sans-serif;
	text-align: center;
	overflow: auto;
}

h1 {
	text-align: center;
	font-size: 3em;
	margin-top: 30px;
	text-decoration: underline;
}

a {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

button:focus {
	outline: 0;
}

#hatImg {
	position: relative;
	left: 0;
	top: 0;
}

/* file drop section*/

#fileUploadDiv {
	margin: auto auto;
	background-color: white;
	width: 1000px;
	border-radius: 5px;
	border: 5px solid black;
	text-align: center;
}

#fileUploader{
	border-bottom: 5px dashed black;
	border-left: 5px dashed black;
	border-right: 5px dashed black;
	width: 600px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin: auto auto;
}

#fileUpload {
	font-family: 'Allerta', sans-serif;
	padding: 10px;
	margin-left: 75px;
}

#searchDirDiv{

}

#searchDir {
	margin-top: 10px;
	width: 200px;
	border-radius: 5px;
	text-align: center;
	font-family: 'Allerta', sans-serif;
}

.filePaths {
	background-color: rgba(251, 170, 40, .8);
	text-align: left;
	margin-top: 10px !important;
	margin: auto;
	overflow: auto;
	border-radius: 5px;
	height: 300px;
	width: 600px;
}

#circlePointer {
	display: block;
	margin: auto auto;
	margin-top: 10px;
	height: 120px;
}

#filePathHeader {
	margin-top: -5px;
	text-decoration: none;
}

#showAllDiv {
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}

#showAll {

	background-color: rgba(251, 170, 40, 1);
	color: white;
	border-radius: 5px;
	border: 2px solid white;
}

.filePath {

}

.filePath ul {
	margin-left: 20px;
	list-style: none;
}

.directoryUl {

}

.expand {
	vertical-align: bottom;
	height: 20px;
	width: 20px;
}

.expandRotate {
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rtate(90deg);
	-o-transform: rotate(90deg);
}


#customIgnores {
	margin-top: 10px;
	width: 200px;
	height: 20px;
	border-radius: 5px;
	text-align: center;
	font-family: 'Allerta', sans-serif;
}

#addCustomIgnores {
	width: 100px;
	height: 30px;
	border-radius: 10px;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	margin-left: 20px;
	background-color: rgba(251, 170, 40, .8);
	color: black;
	font-family: 'Allerta', sans-serif;
	font-size: 1em;
}

#gitIgnoreFiles {
	width: 500px;
	margin: auto;
	overflow: auto;
}

.gitIgnoreFile {
	text-align: left;
	width: 500px;
	margin-bottom: 10px;
}

.ignoredFile {
	background-color: lightpink;
}

.ignoredPath {

}

#gap {
	height: 50px;
}

#instructions {

}

#explanation {
	list-style: upper-roman;
	width: 400px;
	margin: auto auto;
	text-align: left;
}

footer {
	height: 50px;
}
